.header {
    background-color: $mainBlueColor;
    width: 100vw;
    &__text {
        text-align: center;
        font-size:  1rem;
        color: $mainWhiteColor;
    }
}

.left-content {
    float: left;
    width: 300px;
    background-color: #253141;
    &__top {
        height: 100px;
        width: 300px;
        font-size: 16px;
        font-weight: bold;
        color: $mainWhiteColor;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &--text {
          padding: 35px 20px 15px 20px;
        }
        .font-box {
          display: flex;
          padding: 35px 20px 0 0;
          &__icon {
            margin: 2px;
            &--link {
              color: $mainWhiteColor;
            }
          }
        }
    }
    .left-content__bottom {
        background-color: #2f3e51;
        width: 300px;
        height: calc(100vh - 100px);
        overflow: scroll;
        &--link {
          text-decoration: none;
        }
        &-box {
        padding: 20px 20px 40px 20px;
        &--text {
            font-size: 15px;
            font-weight: bold;
            color: $mainWhiteColor;
            padding-bottom: 5px;
        }
        &--comment{
            font-size: 11px;
            font-weight: bold;
            color: $mainWhiteColor;
        }
      }
    }
}

.right-content {
    float: left;
    width: calc(100vw- 300px);
    &__top {
        width: calc(100vw - 300px);
        height: 100px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: solid 1px #eeeeee;
        &-box--text {
          font-size: 20px;
          color: #333333;
          padding: 35px 0 15px 40px;
        }
        &-box--member {
          font-size: 12px;
          color: #999999;
          padding-left: 40px;
        }
      &-editbox {
        padding: 28px 40px 0 0;
        &--edit {
          text-decoration: none;
          color: $mainBlueColor;
          border: solid 1px $mainBlueColor;
          padding: 10px 20px;
        }
      }
    }
    &__center {
        width: calc(100vw - 300px);
        background-color: #fafafa;
        height: calc(100vh - 190px);
        overflow: scroll;
        &-box {
          padding: 46px 0 40px 40px;
            .comment-box {
                padding: 0 0 10px 0;
                display: flex;
                &--user{
                    font-size: 16px;
                    font-weight: bold;
                    color: #434A54;
            }
                &--data {
                    font-size: 12px;
                    color: #999999;
                    margin-left: 10px;
            }
            }
            &--review {
                font-size: 16px;
                font-weight: bold;
                color: #434A54;
          }
        }
    }
    &__bottom {
        background-color: #dddddd;
        height: 90px;
        width: calc(100vw - 300px);
        .form-box {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          .message-box {
            position: relative;
            width: calc(100vw - 495px);
            margin: 15px 0 15px 40px;
            &--message {
              height: 50px;
              font-size: 16px;
              color: #434A54;
              padding-left: 10px;
              width: calc(100% - 15px);
            }
            &__label {
              position: absolute;
              top: 15px;
              right: 10px;
              &--input {
                opacity: 0;
              }
            }
          }
          &--sent {
            margin: 15px 40px 15px 0;
            background-color: $mainBlueColor;
            color: $mainWhiteColor;
            width: 100px;
          }
        }
    }
}