%div{class: "header"}
  %div{class: "header__text"}
    グループを作成しました


%div{class: "left-content"}
  %div{class: "left-content__top"}
    %P{class: "left-content__top--text"}
      test-
    %ul{class: "font-box"}
      %li{class: "font-box__icon"}
        %a{href: "#", class: "font-box__icon--link"}
          %i{class: "fa fa-edit"}
      %li{class: "font-box__icon"}
        %a{href: "#", class: "font-box__icon--link"}
          %i{class: "fa fa-cog"}

  %div{class: "left-content__bottom"}
    %div{class: "left-content__bottom-box"}
      %p{class: "left-content__bottom-box--text"}
        test-
      %p{class: "left-content__bottom-box--comment"}
        さようなら


%div{class: "right-content"}
  %div{class: "right-content__top"}
    %div{class: "right-content__top-box"}
      %h2{class: "right-content__top-box--text"}
        text-group
      %p{class: "right-content__top-box--member"}
        name
    %div{class: "right-content__top-editbox"}
      %a{href: "#", class: "right-content__top-editbox--edit"}
        Edit

  %div{class: "right-content__center"}
    %div{class: "right-content__center-box"}
      %div{class: "comment-box"}
        %p{class: "comment-box--user"}
          test-user
        %p{class: "comment-box--data"}
          2019/04/13
      %p{class: "right-content__center-box--review"}
        こんにちは！

  %div{class: "right-content__bottom"}
    %form{class: "form-box"}
      %div{class: "message-box"}
        %input{placeholder: "type a message", class: "message-box--message"}
        %label{class: "message-box__label"}
          %input{class: "message-box__label--input", type: "file", accept: "image/*"}
          %i{class: "fa fa-image"}
      %input{class: "form-box--sent", type: "submit", value: "SEND"}



